@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

.home-carousel {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

}

.home-list {
  display: flex;
  transition: transform 0.6s ease-in-out;
  max-width: 90%;
  width: 60vw;
  height: 80%;
}

.home-item {
  position: relative;
  min-width: 100%;
  opacity: 0;
  transform: translate(0%, 0%); 
  transition:  transform .5s ease-in-out, filter 1s ease-in-out;
}

.home-item.home-active {
  opacity: 1;
  transform: translate(0, 0);
  transition:all 1s ease-in-out;
}


.home-introduce {
  opacity: 0;
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translate(-30%,-50%);
  color: white;
}

.home-item.home-active .home-introduce {
  opacity: 1;
}

.home-title,
.home-topic,
.home-des,
.home-seeMore {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-in-out, transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), filter 1s ease-in-out;
  transform: translateY(-100%);
}

.home-item.home-active .home-title {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
  transition-delay: 1s;
  font-size: var(--fs-xl);
  font-weight: 500;
  line-height: 1em;
 
}

.home-item.home-active .home-topic {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition-delay: 1.2s;
  font-size: var(--fs-xxl);
  font-weight: 500;
  text-wrap: nowrap;
}   

.home-item.home-active .home-des {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition-delay: 1.4s;
  font-size: var(--fs-s);
  color: rgb(185, 183, 183);
  text-align: justify;
}

.home-item.home-active .home-seeMore {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
  transition-delay: 1.5s;
  margin-top: 1.2em;
  padding: .5em .5em .5em .5em;
  letter-spacing: 3px;
  color: #fcfcfc !important;
  font-weight: 530;
  font-size: var(--fs-s);
  border:1px solid white;
  border-radius: 1em;
  background: rgba(73, 72, 72, 0.15);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-item.home-active .home-seeMore:hover{
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;
background: none;
  color: #9BF00B!important;
  
  border: none;
}




.home-item.home-active .home-seeMore svg{
  transform:translateY(.1em) scale(2);
}
.home-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  transform: translate(-20%);
  transition: right 1.5s;
}

.home-arrows-container{
  position: absolute;
  top: 5%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.home-arrows {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;

}
.home-carousel:hover .home-arrows {
  transition: opacity .5s ease-in-out;
opacity: 1;
}

#home-prev, #home-next{
  background-color: #9cf00b00;
  border: none;
}
#home-prev svg,
#home-next svg {
width: 3rem;
height: 10rem;
background-color: rgba(0, 0, 0, 0);
color: aliceblue;
  font-family: monospace;
}

/* Tablet view */
@media (min-width: 48em) and (max-width: 64em) {
  .home-list {
    width: 120%;
    height: 50%;
  }
  .home-carousel {
   height: 100%;
  }
  .home-image {
    width: 100%;
    height: 100%;
    background-position: center;
    transform: translate(0);
  }

  .home-introduce {
    width: 100%;
    height: 50vh;
    position: static;
    text-align: center;
    transform: none;
    top: auto;
    bottom: 20px;
  }

  .home-item.home-active .home-title {
    font-size: var(--fs-xxl);
  }

  .home-item.home-active .home-topic {
    font-size: var(--fs-l);
  }

  .home-item.home-active .home-des {
    font-size: var(--fs-s);
  }

  .home-arrows {
    top: 8%;
    width: 100%;
  }
}

/* Mobile view */
@media (max-width: 767px) {
  .home-carousel {
    margin-top: 3rem;
    height: 30vh;
  }

  .home-list {
    width: 100vw;
    height: 100%;
    left: 0;
  }

  .home-image {
    width: 100vw;
    height: auto;
 
    background-position: center;
  }

  .home-introduce {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
    position: static;
    transform: none;
  }

  .home-item.home-active .home-title {
    font-size: var(--fs-s);
  }

  .home-item.home-active .home-topic {
    font-size: var(--fs-m);
  }

  .home-item.home-active .home-des {
    font-size: .7em;
  }

  .home-item.home-active .home-seeMore {
    font-size: var(--fs-xxs);
  }

  .home-arrows {
   display: none;
  }

  #home-prev,
  #home-next {
    width: 1em;
    height: 1em;
  }
}
