body {
    margin: 0;
    padding: 0;
}

.agr16-header {
    position: sticky;
    top: 70px;
    z-index: -1;
    max-height: 100px;
    margin-bottom: 40px;
    width: 100%;
}

.agr16-desc {
    display: flex;
    height: 50vh;
    color: white;
    justify-content: space-around;
    align-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.agr16-Title {
    text-align: center;
    font-size: clamp(10px, 50px, 100px);
    border-radius: 0px 0px 20px 20px;
    min-height: 100px;
    color: white;
    text-transform: uppercase;
    line-height: 72px;
    font-weight: 800;
    margin-bottom: 24px;
}

.Model, .spec-agr16-card h4, .agr16-type, .agr16-desc h2 {
    font-size: clamp(10px, 50px, 100px);
    text-transform: uppercase;
    line-height: 72px;
    font-weight: 800;
    color: #9BF00B;
}

.agr16-desc p, .agr16-card-content p {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: -0.69px;
}

.Model span, .agr16-type span {
    color: white;
}

main {
    background-color: #000;
    background: radial-gradient(309.94% 158.19% at 50% 50%, #080A0B 0%, #414D27 100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.gif-container {
    width: 100%;
    position: relative;
    display: inline-block;
    min-height: 100vh;
}

.gif-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    position: relative;
    animation: scaleUp 5s  alternate ease-in-out ;

}

@keyframes scaleUp {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
    transform: scale(1);
}
}

video::-internal-media-controls {
    display: none;
}

video::-webkit-media-controls {
    display: none;
}

.spec-agr16-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    min-height: 40vh;
    height: 100vh;
    flex-wrap: wrap;
   
    overflow: hidden;
    background-color: #000000;
    justify-content: space-evenly;
    align-items: center;
}



.spec-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.spec-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33.33% - 20px);
    background: #9BF00B;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

span {
    text-align: center;
    color: #000;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 800;
}

.spec-img {
    width: 100px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 0px 10px 0px 10px;
    height: 100px;
}

.spec-img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 1));
}

@media (max-width: 768px) {
    .spec-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .spec-item {
        width: 100%;
    }
}

.agr16-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

.agr16-card {
    border-radius: 8px;
    width: 70vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 2;
    transform: translateY(-250px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    color: white;
    margin-bottom:5%;
    background-color:black ;

}

.agr16-card:hover {
    transform: translateY(0px);
    z-index: 3;
}

.agr16-card-img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.agr16-card-content {
    padding: 16px;
}

.type-name {
    margin-top: 0;
    font-size: 3em;
    color: #9BF00B;
}


/*advantages*/

.advantages {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
    background-size: cover;
    border-radius: 10px;
    /* reduce gif size */
    background-image: url('/assets/wingsspin.gif');
    background-clip: border-box;
    -moz-background-clip: text;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center center;
  }
  
  .advantage-points {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    
  }
  
  .advantage-point {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    text-align: center;
    color: #ffffff; 
  }

  
  .advantage-point h5 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .advantage-point p {
    font-size: 16px;
  }
  
  .features {
    padding: 50px;
    background: #f4f4f4;
    text-align: center;
  }
  
  .features h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .feature-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Start hidden for animation */
  }
  
  .feature-card h3 {
    margin-top: 0;
  }
  
  .feature-card p {
    color: #555;
  }
  

  /*cube*/
 /* CubeSection.css */
.cube-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #080A0B;
  }
  
  .cube-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    /* border: 1px solid #ccc; */
    height: 150px;
    width: 150px;
    transition: all 0.3s ease;
    overflow: visible;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .cube-item.active, .cube-item:hover {
    height: 20em;
    width: 20rem;
    z-index: 10;
    background-size: cover;
    background-position: right center ;
    background-repeat: no-repeat;
    background-clip: border-box;
  }
  
  .top-left {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: end;
    align-self: end;
    border-top-left-radius: 100%;
    background-image: url('/fc/camera.png');
    
 

  }
  
  .top-left.active .big-blocky, .top-left:hover .big-blocky {
    transform: translate(-300px, -150px);
    opacity: 1;
  }
  
  .top-right {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
    align-self: end;
    border-top-right-radius: 100%;
    background-image: url('/fc/sensor.png');
  }
  
  .top-right.active .big-blocky, .top-right:hover .big-blocky {
    transform: translate(300px, -150px);
    opacity: 1;
  }
  
  .bottom-left {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: end;
    align-self: start;
    border-bottom-left-radius: 100%;
    background-image: url('/fc/wingmotor.png');
  }
  
  .bottom-left.active .big-blocky, .bottom-left:hover .big-blocky {
    transform: translate(-300px, 150px);
    opacity: 1;
  }
  
  .bottom-right {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: start;
    align-self: start;
    border-bottom-right-radius: 100%;
    background-image: url('/fc/pump.png');
  }
  
  .bottom-right.active .big-blocky, .bottom-right:hover .big-blocky {
    transform: translate(300px, 150px);
    opacity: 1;
  }
  
  .cube-item::before {
    position: absolute;
    border-radius: 50%;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
  }
  
  .cube-item:hover::before, .cube-item.active::before {
    width: 500%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .blocky {
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #9BF00B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    background-color: #000;
    opacity: 1;
    transform: scale(0.98);
    border-radius: 20px;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  
  .big-blocky {
    z-index: 9;
    width: 20rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    background-image: linear-gradient(163deg, #9BF00B 0%, #9BF00B 100%);
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    border-radius: 20px;
    opacity: 0;
  }
  

  /* tabs.css */
.tabs-container {
  width: 100%;
  margin: 20px auto;
  height: 100%;
  overflow-x: hidden ;
  background: radial-gradient(309.94% 158.19% at 50% 50%, #080A0B 0%, #414D27 100%);

}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 
}

.tabs button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.tabs button:hover {
    border-top: 2px solid #9BF00B;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }

.tabs button.active {
    color: #9BF00B;
    border-top: 2px solid #9BF00B;
  border-bottom: 2px solid #9BF00B;
}

.tabb-content {
  text-align: center;
  padding: 20px;

 
  border-radius: 5px;
}

.tab-content {
  display: block;
 

}

.tab-content.active {
  display: block;
}
.tab-content p ,.tab-content h2{
    color: rgb(255, 255, 255);
    line-height: 50px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

/* fc section */

.fc-sec-card {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  transition: transform 0.3s ease;
  width: 100vw;
  height: 100vh;
 
  position: relative;
}
.fc-intro {
  font-size: 1.3em;
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 1.6em;
  width: 90%;
}
.fc-sec-parallex {
  height: 100%;
  position: absolute;
  right: -10%;
  top: 0;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: 1fr;
  width: 60%;
  justify-items: end;

}

.fc-sec-img {
  width: 100%;
  height: auto; 
  max-width: 100%;
  max-height: 100%; 
  object-fit: cover;
}

.fc-gnss {
  grid-area: 1 / 1 / 4 / 1;
 
}
.fc-gnss img{
  transform: rotate(-40deg) scale(1.2)  translate(25%,20%);
  right: 0%;
  position: absolute;
  top: 0%;

}
.fc-fmu img{
  transform: rotate(40deg) scale(1.3) translate(7%,-0%);
}
.fc-pmu img{
  transform: rotate(40deg) scale(1.8) translate(-10%,25%);
}

.fc-fmu {
  grid-area: 4 / 1 / 8 / 1;
}

.fc-pmu {
  grid-area: 8 / 1 / 11 / 1;
}

.fc-sec-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 15px;
  height: 100%;
  position: absolute;
  flex-wrap: wrap;
  align-content: flex-start;
  z-index: 2;
}

.fc-sec-card-content h3 {
  margin: 0;
  font-size: 4em;
  color: #9bf00b;
  font-weight: 800;
}

.fc-sec-card-content ul li strong {
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px 0 0;
  color: #000000;
  font-weight: 600;
  background-color: #9bf00b;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10% 90% 90% 10% / 49% 50% 50% 51% ;
  
  padding: 0rem .5rem;
  transform: translateY(-6px);
}
.fc-sec-card-content ul li {
  display: flex;
  font-size: 1.1em;

  margin: 10px 0 0;
  color: #b4b4b4;
  font-weight: 600;
  justify-content: flex-start;
  align-items: center;
  width:fit-content;
}

.fc-link-btn{
  border: 2px solid #9bf00b;
  width: auto;
  height: auto;
  color: #9bf00b;
  padding: .5rem;
  border-radius: 1rem;
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 5rem;
}

.fc-link-btn:hover{
  color: #000;
  transition:color 1s ease-in;
  background-color: #9BF00B;
}
@media (max-width: 768px) {
  .agr16-header {
      top: 60px;
      max-height: 70px;
  }
  .fc-intro {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .agr16-desc {
      height: auto;
      padding: 20px;
      align-items: center;
  }

  .agr16-Title {
      font-size: 30px;
      line-height: 40px;
  }

  .Model, .spec-agr16-card h4, .agr16-type, .agr16-desc h2 {
      font-size: 1.2rem;
      line-height: 32px;
  }

  .agr16-desc p, .agr16-card-content p {
      font-size: 16px;
      line-height: 1.5em;
      text-align: justify;
      padding: 0%;
  }

  main {
      padding: 20px;
  }

  .gif-container {
      min-height: 100%;
  }

  .gif-container img {
      width: 100%;
      height: auto;
  }

  .spec-agr16-card {
      padding: 10px;
      height: auto;
  }

  .spec-details {
      flex-direction: column;
      gap: 10px;
  }

  .spec-item {
      width: 100%;
      padding: 10px;
      font-size: 14px;
  }

  .spec-img {
      width: 50px;
      height: 50px;
  }

  .agr16-card-container {
      flex-direction: column;
      gap: 20px;
  }

  .agr16-card {
      width: 100%;
      transform: translateY(0);
      margin-bottom: 20px;
  }

  .agr16-card:hover {
      transform: translateY(0);
  }

  .type-name {
      font-size: 24px;
  }

  .advantages {
      padding: 20px;
      min-height: auto;
  }

  .advantage-points {
      width: 100%;
  }

  .advantage-point {
      padding: 10px;
  }

  .advantage-point h5 {
      font-size: 1rem;
  }

  .advantage-point p {
      font-size: .8rem;
      font-weight: normal;
  }

  .cube-section {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      padding: 20px;
      
  
  }

  .cube-item {
      width: 6rem;
      height: 6rem;
  }

  .cube-item.active, .cube-item:hover,.cube-item.active {
      width: 10rem;
      height: 10rem;
      background-size: cover;
  }

  .top-left.active .big-blocky, .top-left:hover .big-blocky,
  .top-right.active .big-blocky, .top-right:hover .big-blocky
   {
    transform: translate(0px, 300px);
    width: 10rem;
    font-weight: normal;
    font-size: 2rem;
    opacity: 1;
  }

  .bottom-left.active .big-blocky, .bottom-left:hover .big-blocky,
  .bottom-right.active .big-blocky, .bottom-right:hover .big-blocky 
   {
    transform: translate(0px, 250px);
    width: 10rem;
    font-weight: normal;
    font-size: 2rem;
    opacity: 1;
  }
  .blocky {
    font-size: 1rem;
  }
  .tabs-container {
      padding: 0px;
  }

  .tabs button {
      font-size: .8rem;
      padding: .5em;
      font-weight: 400;
  }

 
    
    .tab-content p, .tab-content h2 {
      font-size: 1rem;
      line-height: 130%;
  }

  .fc-sec-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-size: contain;
  }

  .fc-sec-card-content h3 {
    font-size: 1.3rem;
  }

  .fc-sec-card-content ul li strong {
    font-size: 1rem;
    font-weight: normal;
  }

  .fc-sec-card-content ul li {
    font-size: .8rem;
  }

  .fc-link-btn {
    margin-left: 0;
    font-size: .7rem;
    padding: 0.2rem;
  }

  .fc-sec-parallex {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .fc-gnss img, .fc-fmu img, .fc-pmu img {
    opacity: 0;
    transform: none;
    position: static;
    width: 80%;
  }
}
/* Tablet View */
@media (min-width: 48em) and (max-width: 64em) {
  .agr16-header {
      top: 4rem;
      max-height: 5rem;
  }

  .agr16-desc {
      height: auto;
      padding: 1rem;
      align-items: center;
  }

  .agr16-Title {
      font-size: 2rem;
      line-height: 2.5rem;
  }

  .Model, .spec-agr16-card h4, .agr16-type, .agr16-desc h2 {
      font-size: 1.5rem;
      line-height: 2rem;
  }

  .agr16-desc p, .agr16-card-content p {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: justify;
  }

  main {
      padding: 1rem;
  }

  .gif-container {
      min-height: 100%;
  }

  .gif-container img {
      width: 100%;
      height: auto;
  }

  .spec-agr16-card {
      padding: 1rem;
      height: auto;
  }


  .spec-item {
      width: 30%;
      padding: 1rem;
      font-size: 0.875rem;
  }

  .spec-img {
      width: 2.5rem;
      height: 2.5rem;
  }

  .agr16-card-container {
      flex-direction: row;
      gap: 1.5rem;
      flex-wrap: nowrap;
  }

  .agr16-card {
      width: 50%;
      transform: translateY(-10rem);
      margin-bottom: 1.5rem;
  }

  .agr16-card:hover {
      transform: translateY(0);
  }

  .type-name {
      font-size: 2rem;
  }

  .advantages {
      padding: 1rem;
      min-height: auto;
  }

  .advantage-points {
      width: 100%;
      display:flex ;
      align-items: center;
  }

  .advantage-point {
    width: 60%;
      padding: 0.5rem;
  }

  .advantage-point h5 {
      font-size: 1.5rem;
  }

  .advantage-point p {
      font-size: 1rem;
      font-weight: normal;
  }

  .cube-section {
  
      padding: 1rem;
      height:400px;
      align-items: center;
      justify-items: center;
  }

  .cube-item {
      width: 6rem;
      height: 6rem;
  }

  .cube-item.active, .cube-item:hover {
      width: 10rem;
      height: 10rem;
      background-size: cover;
  }
  .big-blocky{
      width: 10rem;
      font-weight: normal;
      font-size: 1.5rem;
      opacity: 0;
  }
  .top-left.active .big-blocky, .top-left:hover .big-blocky{
    transform: translate(-200px, -50px);

  }
  .top-right.active .big-blocky, .top-right:hover .big-blocky
  {
    transform: translate(200px, -50px);

  }
  .bottom-left.active .big-blocky, .bottom-left:hover .big-blocky{
    transform: translate(-200px, 50px);

  }
  .bottom-right.active .big-blocky, .bottom-right:hover .big-blocky{
    transform: translate(200px, 50px);

  }

  .blocky {
      font-size: 1rem;
  }

  .tabs-container {
      padding: 0;
  }

  .tabs button {
      font-size: 1rem;
      padding: 0.5rem;
      font-weight: 400;
  }

  .tab-content p, .tab-content h2 {
      font-size: 1.25rem;
      line-height: 1.5rem;
  }

  .fc-sec-card {
    width: 100%;
    height: 20rem;
    margin-bottom: 1.5rem;
    background-size: cover;
    
  }

  .fc-sec-card-content h3 {
    font-size: 2em;
  }

  .fc-sec-card-content ul li strong {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .fc-sec-card-content ul li {
    font-size: .8rem;
  }

  .fc-link-btn {
    margin-left: 0;
    font-size: 1.1rem;
    padding: 0.5rem;
  }
  .fc-intro {
    font-size: 1.1rem;
    margin-bottom: 18px;
  }
  .fc-sec-parallex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
   
    display: none;

    right: 0%;
  }

  .fc-gnss img, .fc-fmu img, .fc-pmu img {
    transform: none;
    position: static;
    width: 30%;
    right: 0;
  }
}
