

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --fs-xxs: .5rem; 
    --fs-xs: .8rem; 
    --fs-s: 1rem; 
    --fs-m: 1.5rem;  
    --fs-l: 2rem;   
    --fs-xl: 3rem;  
    --fs-xxl: 4rem;  
    --fs-xxxl: 8rem; 
}

html {
    scrollbar-width: thin;
    scrollbar-color: #7FB00B #0C0C0C;
    scroll-behavior: smooth;
    scroll-snap-type:y mandatory;
    scroll-snap-align: start;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    position: relative;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    overflow-y: scroll;
}
a{
    color: white ;
    text-decoration: none !important;
}

p {
    font-size: var(--fs-s);
    font-weight: 500;
}
span{

    text-align: center;
    color: #000;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 800;
}
.error{
    color: red;
    
}
main{
    margin-top: 3rem;
}

@media( max-width: 767px){
main{
    margin-top: 3.5em;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    main{
        margin-top: 3.5em;   
    }
}


.Home-page{
    /* background: linear-gradient(158deg, rgba(0,0,0,1) 0%, rgba(102, 194, 27, 0.144) 66%, rgba(0,0,0,1) 100%); */
 background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    overflow: hidden;
    /* background: rgb(75,75,75); */
    /* background: linear-gradient(96deg, rgba(75,75,75,1) 0%, rgba(46,45,45,1) 5%, rgba(36,35,35,1) 15%, rgba(0,0,0,1) 35%, rgba(4,4,4,1) 93%, rgba(46,45,45,1) 97%, rgba(0,0,0,1) 100%); */



}


.Home-page::before{
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
    background-image: url('/corner/2.png');
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 40em;
    /* background-attachment: fixed; */

    /* filter: blur(.3em); */
    z-index: -1;
}
/* Scroll */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0C0C0C;
}

::-webkit-scrollbar-thumb {
    background-color: #9BF00B;
    border-radius: 10px;
    border: 3px solid #0C0C0C;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7FB00B;
}

/* Example CSS for styling selected text */
::selection {
    background: #9BF00B;
    color: #000000;
}

/* For Firefox */
::-moz-selection {
    background: #9BF00B;
    color: #000000;
}
