
#battery-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; 
    width: 100%;
    top: 5rem;
    margin-bottom: 7em;
    /* border: 3px solid red; */
}

.battery-card {

    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: calc(33% - 200px); 
    text-align: start;
    border: 1px solid #000000;
    transition: opacity 1s, transform 1s ease; /* Smooth transition */
    
}

.battery-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border: 1px ridge #9BF00B;
}

.battery-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.battery-info {
    padding: 20px;
}

.battery-title {
    font-size: 1.8em;
    margin: 0.5em 0;
    color: #ffffff;
}

.battery-description {
    color: #ffffff;
    font-size: 1.2rem;
  
}

.battery-price {
    font-size: 1.2em;
    color: #ffffff;
    margin: 0.5em 0;
}

.add-to-cart {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5em;
    border: 2px solid #9BF00B ;
    text-decoration: none;
    font-weight: 700;
}

.add-to-cart:hover {
    color: #000000;
    background-color: #9BF00B;
}
.battery-card-footer{
    margin-top: 5px;
   display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(30px);
}
.battery-card:hover .battery-card-footer{
    opacity: 1;
    transform: translateY(0px);
}


.add-to-cart:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
@media (max-width: 1200px) {
    .battery-card {
        width: calc(50% - 20px); /* 2 cards per row */
    }
}

@media (max-width: 768px) {
    .battery-card {
        width: 100%;
    }
}

