
#battery-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; 
    width: 100%;
    top: 5rem;
    margin-bottom: 7em;
    /* border: 3px solid red; */
}

.battery-card {

    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: calc(33% - 200px); 
    text-align: start;
    border: 1px solid #000000;
    transition: opacity 1s, transform 1s ease; /* Smooth transition */
    height: auto;
}

.battery-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border: 1px ridge #9BF00B;
}

.battery-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease;
    background-image: radial-gradient(circle, #ffffff, #ededee, #dddbdc, #ccc9ca, #a09e9ee3);
}

.battery-info {
    padding: 20px;
}

.battery-title {
    font-size: 1.8em;
    margin: 0.5em 0;
    color: #ffffff;
}

.battery-description {
    color: #ffffff;
    font-size: 1.2rem;
  
}

.battery-price {
    font-size: 1.2em;
    color: #ffffff;
    margin: 0.5em 0;
}

.add-to-cart {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.5em;
    border: 2px solid #9BF00B ;
    text-decoration: none;
    font-weight: 700;
}

.add-to-cart:hover {
    color: #000000;
    background-color: #9BF00B;
}
.battery-card-footer{
    margin-top: 5px;
   display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(30px);
}
.battery-card:hover .battery-card-footer{
    opacity: 1;
    transform: translateY(0px);
}



.horizontal-slider{
    transform: translateX(100px);
    width: 100%;
    position: relative;
    max-width: 500px;
    height: 10px;
    border: 1px solid grey;
    background-color: rgb(51, 51, 51);
    border-radius: 2rem;
}
.horizontal-slider .example-track{
    position: absolute;
    height: 10px;
    border-radius: 2rem;

}
.example-track-1{
    background-color: #9BF00B;
}
.horizontal-slider .example-thumb{
    transform: translateY(-25%);
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2rem;
    padding: 0rem .5rem 0rem .5rem;
    font-weight: 600;
    font-size: .9em;
}
.add-to-cart:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
@media (max-width: 1280px) {
    .battery-card {
        width: calc(50% - 3rem); 
    }
}

/* Media Queries */

/* For screens 1200px or less */
@media (max-width: 1200px) {
    .battery-card {
        width: calc(50% - 20px); /* 2 cards per row */
    }
}

/* For screens 768px or less */
@media (max-width: 768px) {
    .battery-card {
        width: 100%;
    }

    .battery-title {
        font-size: 1.5em;
    }

    .battery-description {
        font-size: 1rem;
    }

    .battery-price {
        font-size: 1em;
    }

    .add-to-cart {
        font-size: 1.2em;
    }

    .battery-card-footer {
        align-items: flex-start;
    }
}

/* For screens and tablet view*/
@media only screen and (min-width: 768px ) and (max-width: 1024px) {
    .battery-card {
        width: calc(50% - 4rem);
    }

    .battery-title {
        font-size: 1.5rem;
    }

    .battery-description {
        font-size: 1rem;
    }

    .battery-price {
        font-size: 1rem;
    }

    .add-to-cart {
        font-size: 1.2rem;
    }

    .battery-card-footer {
        align-items: flex-start;
    }
}